sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
myst-parser
# Python dependencies needed for documentation
scanpy
anndata
numpy
scipy
pandas
matplotlib
seaborn
statsmodels
scikit-learn
python-igraph
leidenalg
louvain
umap-learn
pynndescent
h5py
tables
jupyter
jupyterlab
ipykernel
rpy2
scanpy
numpy
pandas
matplotlib
scipy
pyyaml
traitlets
markdown